body{
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    height: 800px;
}
.top-header{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    background-position: cover;
    overflow: hidden;
}

.half-width h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
}
.half-width h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    color: coral;
}
.half-width p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.half-width  a{
    background-color: coral;
    color: #ffffff;
    font-size: 18px;
    padding: 15px 50px;
    text-decoration: none;
}
.half-width a:hover{
    background-color: cornflowerblue;
    transition: all 0.5s ease;
}

.title-highligt{
    color: tomato;
}
.half-width{
    width: 40%;
    margin-left: 2%;
    padding-left: 5%;
    float: left;
}
.half-width img{
    width: 100%;
}
.about-me {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.developer{
    background-color: #ffffff;
    padding: 30px;
    height: 450px;
    box-shadow: 10px 10px 30px #999999;
    border-radius: 5px;
}
#full-stack-developer{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-plan{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, blue, yellow);
    border-image-slice: 1;

}
.experiance h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
}
.footer p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}
.experiance{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: top-left;
}